[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "test/Vulkan"]
	path = test/Vulkan
	url = https://github.com/DragonJoker/Vulkan.git
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/AGS_SDK"]
	path = external/AGS_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/spirv_cross"]
	path = external/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "CMake"]
	path = CMake
	url = https://github.com/DragonJoker/CMakeUtils.git
