# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild*/
bld/
[Bb]in/
[Bb]inaries/
[Oo]bj/
[Oo]ut/
[Ss]etup/
[Pp]ackage/
[Dd]oc/[Aa]shes*/**/

# Other folders
.vs/
.vscode/
vcpkg_installed/

# Specific files
source/premake5.exe
.DS_Store
imgui.ini
