notifications:
  email:
    on_success: never
    on_failure: always

language: cpp
compiler: g++
os: linux
sudo: required
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-8

env:
  global:
    - COMPILER=g++-8

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install libc6-dev
  - sudo apt-get install gcc-8-multilib g++-8-multilib
  - sudo apt-get install cmake
  - export CXX="g++-8"
  - export CC="gcc-8"

script:
  - mkdir -p build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Release ../ -DPROJECTS_USE_PRECOMPILED_HEADERS=OFF -DASHES_BUILD_TEMPLATES=OFF -DASHES_BUILD_TESTS=OFF -DASHES_BUILD_SAMPLES=OFF
  - make -j4

branches:
  only:
    - master
    - travis

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
