version: '{branch}-rev{build}'

os:
  - Visual Studio 2017

platform:
  - Win32
  - x64

environment:
  MSVC_DEFAULT_OPTIONS: ON

configuration:
  - Release
  - Debug

clone_folder:
  C:\projects\Ashes

branches:
  only:
    - master
    - appveyor

install:
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: if "%platform%"=="Win32" set CMAKE_GENERATOR_NAME=Visual Studio 15 2017
  - cmd: if "%platform%"=="x64"   set CMAKE_GENERATOR_NAME=Visual Studio 15 2017 Win64
  - cmd: if "%platform%"=="Win32" set PLATFORM_NAME=x86
  - cmd: if "%platform%"=="x64"   set PLATFORM_NAME=x64
  - cmd: if "%platform%"=="Win32" set PCH_USAGE=ON
  - cmd: if "%platform%"=="x64"   set PCH_USAGE=ON
  - cmd: cd C:\projects\Ashes\dependencies
  - cmd: 7z x glslang.7z
  - cmd: 7z x glslang-lib-%PLATFORM_NAME%.7z
  - cmd: cd ..
  - cmd: md build
  - cmd: cd build
  - cmake -G "%CMAKE_GENERATOR_NAME%" ../ -DPROJECTS_USE_PRECOMPILED_HEADERS=%PCH_USAGE% -DASHES_BUILD_TEMPLATES=OFF -DASHES_BUILD_TESTS=OFF -DASHES_BUILD_SAMPLES=OFF -DCMAKE_INSTALL_PREFIX=C:\projects\Ashes\package\Ashes

build:
  project: build/Ashes.sln
  parallel: true

after_build:
  - cmd: cd C:\projects\Ashes\build
  - cmake --build . --target install --config %CONFIGURATION%
  - cmd: cd ..
  - cmd: 7z a Ashes-%PLATFORM_NAME%.zip .\package\Ashes\*

artifacts:
  - path: Ashes-%PLATFORM_NAME%.zip
    name: Ashes binaries %PLATFORM_NAME%

on_success:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 success $env:WEBHOOK_URL

on_failure:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 failure $env:WEBHOOK_URL
